// Option component
.option {
    width: 40%;
    border: 1px solid hsl(180, 100%, 80%);;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: all .3s linear;

    &:hover {
        border: 1px solid hsl(180, 100%, 95%);
    }
    &:hover > &__img {
        opacity: 1;
        transform: scale(1.05);
    }
    &:hover > &__text {
        color: hsl(180, 100%, 95%);
    }

    &__text {
        color: hsl(180, 100%, 80%);;
        font: {
            size: 1rem;
        }
    }
    &__img {
        width: 40%;
        opacity: 0.8;
        transition: all .2s linear;
    }
    &:last-child {
        gap: 0;
        width: 30%;
        height: 50%;
        &__img {
            display: none;
        }
    }
}
@keyframes scaleImg {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}