$border: 1px solid red;
$basicLinkColor: hsl(180, 100%, 80%);
$activeLinkColor: hsl(180, 100%, 95%);


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Main Text';
}
html {
    background-color: hsl(0, 0%, 10%);
    font-size: 1rem;
}
#root {
    width: 300px;
    height: 180px;
    background-image: linear-gradient(90deg, hsl(270, 50%, 20%), hsl(240, 50%, 20%));
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin: 0 auto;
    border: 1px solid hsla(0, 50%, 95%, 0.3);
    font-size: 1rem;
}
a {
    color: $basicLinkColor;
    text-decoration: none;

    &:active {
        color: $activeLinkColor;
    }
    &:visited {
        color: $basicLinkColor;
    }
    &:hover {
        color: $activeLinkColor;
    }
}

@font-face {
    font-family: 'Main Text';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/Raleway-Regular.ttf');
}
@font-face {
    font-family: 'Numeric text';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/Ubuntu-Light.ttf');
}